.hero {
  color: var(--text);
  height: 76vh;
  display: flex;
  align-items: center;
  place-content: center;
  background: linear-gradient(to bottom, var(--bg2), var(--bg1));
}

.heroDark {
  color: var(--textDark);
  height: 76vh;
  display: flex;
  align-items: center;
  place-content: center;
  background: linear-gradient(to bottom, var(--bg2Dark), var(--bg1Dark));
}

.heroContent {
  text-align: center;
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  width: 100%;
  height: 100%;
  margin: 0.5rem;
}

.heroContent h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
}

.heroContent .type {
  font-size: 2.5rem;
  color: var(--main);
  font-weight: bold;
  font-family: var(--type-second);
}

.heroDark .type {
  color: var(--mainDark);
}

p {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.heroContent h2 {
  margin-bottom: 1rem;
}

.media {
  margin: 1.5rem auto;
  display: flex;
  gap: 1rem;
}

.linkedin {
  padding: 0.5rem;
  font-size: 1.1rem;
  text-transform: uppercase;
  border-radius: 0.4rem;
  border: none;
  outline: none;
  letter-spacing: 1.1px;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  width: 140px;
  place-content: center;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
  box-shadow: 0px 0px 3px black;
  position: relative;
}

.linkedin::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 50%;
  background: rgba(0, 0, 0, 0.14);
  border-radius: 0.4rem;
}

.linkedin {
  background: #fff;
}

.github:hover,
.github:focus,
.linkedin:hover,
.linkedin:focus {
  outline: none;
}

.heroDark .github:hover,
.heroDark .github:focus,
.heroDark .linkedin:hover,
.heroDark .linkedin:focus {
  outline: none;
}

.linkedin,
.github {
  transition: 0.3s ease-in-out;
}

.heroDark .linkedin {
  color: var(--bg1Dark);
}

@media (min-width: 600px) {
  .heroContent h1,
  .type {
    font-size: 3.5rem;
  }

  p {
    font-size: 1.5rem;
  }

  .github:hover,
  .github:focus,
  .linkedin:hover,
  .linkedin:focus {
    box-shadow: 0px 0px 0px 1px var(--main), 0px 0px 0px 2px var(--main2);
  }

  .heroDark .github:hover,
  .heroDark .github:focus,
  .heroDark .linkedin:hover,
  .heroDark .linkedin:focus {
    box-shadow: 0px 0px 0px 1px var(--mainDark),
      0px 0px 0px 2px var(--mainDark2);
  }
}

.github {
  position: relative;
  width: 140px;
  background: #000;
  text-transform: uppercase;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: var(--bg1);
  letter-spacing: 1.1px;
  box-shadow: 0px 0px 3px black;
}

.github::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 50%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 0.4rem 0.4rem 0rem 0rem;
}

/* .github::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    #fb0094,
    #00f,
    #0f0,
    #f00,
    #ff0,
    #fb0094,
    #00f,
    #0f0,
    #f00,
    #ff0
  );
  background-size: 400%;
  animation: animate 20s linear infinite;
  border-radius: 0.4rem;
  box-shadow: 0px 0px 3px black;
} */

/* .github span {
  position: absolute;
  display: flex;
  align-items: center;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  place-content: center;
  gap: 1rem;
  background: #0c0c0c;
  color: var(--bg1);
  transition: 0.5s;
  z-index: 1;
  letter-spacing: 1.1px;
  border-radius: 0.4rem;
  border: none;
  outline: none;
} */

/* @keyframes animate {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 300% 0;
  }
  100% {
    background-position: 0 0;
  }
} */
