.about .subtitle {
  text-align: center;
  color: var(--text);
  font-size: 0.9rem;
  margin-bottom: 3rem;
}

.aboutContent {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  color: var(--text);
  position: relative;
}

.aboutContent::after {
  position: absolute;
  content: "";
  background: var(--main);
  width: 100%;
  height: 2px;
  top: 42%;
}

.aboutContent h3 {
  color: var(--main);
  font-family: var(--type-second);
  text-align: center;
}

.aboutContent p {
  font-size: 0.95rem;
  text-align: center;
}

.tech {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0rem 0.5rem;
  place-content: center;
}

.tech p {
  background: var(--main);
  color: var(--bg1);
  padding: 0.2rem 0.5rem;
  border-radius: 0.4rem;
}

@media (min-width: 600px) {
  .about .subtitle {
    font-size: 1rem;
  }

  .aboutContent {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .aboutContent::after {
    height: 100%;
    width: 1px;
    left: 49.5%;
    top: 0;
    background: linear-gradient(180deg, transparent, var(--main), transparent);
  }

  .aboutContent p {
    font-size: 1rem;
  }

  .tech p {
    font-size: 0.9rem;
  }
}
