.about .subtitle {
  text-align: center;
  color: var(--text);
  font-size: 0.9rem;
  margin-bottom: 3rem;
}

.aboutContent {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  color: var(--text);
  position: relative;
}

.aboutContent::after {
  position: absolute;
  content: "";
  background: var(--main);
  width: 100%;
  height: 2px;
  top: 35%;
}

.aboutContent h3 {
  color: var(--main);
  font-family: var(--type-second);
  text-align: center;
}

.aboutContent p {
  font-size: 0.95rem;
  text-align: center;
}

@media (min-width: 600px) {
  .about .subtitle {
    font-size: 1rem;
  }

  .aboutContent {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .aboutContent::after {
    height: 100%;
    width: 2px;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }

  .aboutContent p {
    font-size: 1rem;
  }
}
