.header {
  width: 100%;
  top: 0px;
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 5rem;
  color: var(--text);
  background: var(--bg1);
  border-bottom: 2px solid var(--main);
  z-index: 99;
}

.headerDark {
  color: var(--textDark);
  background: var(--bg1Dark);
  border-color: var(--mainDark);
}

/* ME */
.profile {
  display: flex;
  place-content: center;
  align-items: center;
  padding-left: 1rem;
  gap: 0.8rem;
}

.profile h4 {
  color: var(--text);
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 1px;
  font-family: var(--type-first);
  position: relative;
}

.profileDark h4 {
  color: var(--textDark);
}

.profile svg {
  fill: var(--main);
}

.profileDark svg {
  fill: var(--mainDark);
}

/* NAV LIST  */
.nav {
  display: flex;
  place-items: center;
  justify-content: flex-end;
  position: relative;
}

.navList {
  opacity: 0;
  pointer-events: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: fixed;
  font-size: 0.85rem;
  transform: translateX(30px);
  transition: all 0.25s ease-in-out;
  top: 10%;
  right: 1%;
  display: flex;
  flex-direction: column;
  border: 2px solid var(--main);
  border-radius: 0.3rem;
  padding: 1rem 1rem 1rem 0.5rem;
  gap: 1.5rem;
  background: var(--bg1);
  z-index: 999999;
  visibility: hidden;
}

.navListDark {
  background: var(--bg1Dark);
  border-color: var(--mainDark);
}

.navListActive {
  opacity: 1;
  pointer-events: initial;
  transform: translateX(0px);
  visibility: visible;
}

.navListDesktop {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 0.85rem;
  display: flex;
  gap: 1.5rem;
  margin-right: 2rem;
  align-items: center;
}

/* NAV ITEM */
.navListDesktop .navItem a {
  position: relative;
}

.navListDesktop .navItem a::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  background: var(--main);
  transition: 0.3s ease-in-out;
  left: 50%;
  bottom: -2px;
  transform: translateX(-50%);
}

.navListDark.navListDesktop .navItem a::after {
  background: var(--mainDark);
}

.navListDesktop .navItem a:hover::after {
  width: 100%;
}

.navList .navItem a {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.navList .navItem {
  border-bottom: 1px solid var(--main);
}

.navListDark .navItem {
  border-color: var(--mainDark);
}

.btnTheme {
  padding: 0rem;
  margin: 0rem;
  cursor: pointer;
  text-align: center;
  place-items: center;
  display: flex;
  gap: 1rem;
}

.btnTheme svg {
  fill: var(--main);
}

.navListDark .btnTheme svg {
  fill: var(--mainDark);
}

.iconNav {
  fill: var(--main);
}

.navListDark .iconNav {
  fill: var(--mainDark);
}

/* BUTTON MOBILE  */

.buttonMobile {
  padding: 1.4rem;
  border-radius: 50%;
  outline: none;
  border: 2px solid var(--main);
  background: transparent;
  position: relative;
  color: var(--main);
  cursor: pointer;
  display: flex;
  place-content: center;
  position: absolute;
  right: 2.5rem;
}

.navDark .buttonMobile {
  border-color: var(--mainDark);
  color: var(--mainDark);
}

.buttonMobile::after {
  content: "";
  position: absolute;
  background: currentColor;
  width: 55%;
  height: 2px;
  box-shadow: 0px 8px 0px currentColor, 0px -8px 0px currentColor;
  transition: 0.3s ease-in-out;
}

.buttonMobileActive {
  color: var(--main);
  display: flex;
  align-items: center;
  transition: 0.3s ease-in-out;
}

.buttonMobileActive::after {
  box-shadow: 0px 10px 0px currentColor, 0px -10px 0px currentColor;
  transform: rotate(-90deg);
  width: 4.5px;
  height: 4.5px;
  border-radius: 50%;
}

/* RESPONSIVE */
@media (min-width: 600px) {
  .nav {
    justify-content: center;
  }

  .navList {
    opacity: initial;
    pointer-events: initial;
    display: flex;
  }

  .profile {
    place-content: start;
    align-items: center;
  }
}

@media (min-width: 800px) {
  .header {
    padding-left: 3rem;
  }

  .navListDesktop {
    gap: 3rem;
  }
}
