.button {
  padding: 0.5rem 1rem;
  font-size: 1.7rem;
  font-family: var(--type-first);
  font-weight: bold;
  background: var(--main);
  color: var(--bg1);
  outline: none;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  max-width: max-content;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
}

.button:focus,
.button:hover {
  box-shadow: 0px 0px 0px 3px var(--main2), 0px 0px 0px 4px var(--main);
  color: var(--main);
  background: var(--bg1);
}

.button.buttonDark {
  background: var(--mainDark);
  color: var(--bg1Dark);
}

.button.buttonDark:focus,
.button.buttonDark:hover {
  box-shadow: 0px 0px 0px 3px var(--mainDark2), 0px 0px 0px 4px var(--mainDark);
  color: var(--mainDark);
  background: var(--bg1Dark);
}
