.footer {
  height: max-content;
  background: var(--bg1);
  color: var(--main);
  padding-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.footerDark {
  background: var(--bg1Dark);
  color: var(--mainDark);
}

.footerContents {
  display: grid;
  gap: 1rem;
}

.contactItem {
  background: var(--main);
  color: var(--bg1);
  display: flex;
  align-items: center;
  padding: 0.2rem 0.5rem;
  gap: 0.5rem;
  border-radius: 0.4rem;
  box-shadow: 0px 0px 3px black;
  font-family: var(--type-first);
}

.footerDark .contactItem {
  background: var(--mainDark);
  color: var(--bg1Dark);
  font-weight: bold;
}

.contactItem svg {
  fill: var(--bg1);
}

.footerDark .contactItem svg {
  fill: var(--bg1Dark);
}

.contactItem:nth-child(2) {
  margin-bottom: 1rem;
}

/* SECOND FOOTER */

.secondFooter {
  background: var(--main);
  width: 100%;
  display: flex;
  place-content: center;
  align-items: center;
  height: 5rem;
}

.footerDark .secondFooter {
  background: var(--mainDark);
}

.secondFooter p {
  color: var(--bg1);
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  font-weight: bold;
}

.footerDark p {
  color: var(--bg1Dark);
}
