@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap");

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  scroll-behavior: smooth;
}

body {
  --type-second: "Cinzel Decorative", Arial, Helvetica, sans-serif;
  --type-first: "Roboto", Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
  font-family: var(--type-first);
  --bg1: #e3e3e3;
  --bg2: #c0bdbddd;
  --main: rgb(139, 0, 0);
  --text: rgb(27, 27, 27);
  margin-top: 5rem;
  background: var(--bg1);
}

h1,
h2,
h3 {
  margin: 0px;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

a {
  color: var(--white);
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 70rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.title {
  font-family: var(--type-second);
  font-size: 2rem;
  color: var(--main);
  margin: 0 auto;
  max-width: 190px;
  position: relative;
}

.title::before {
  content: "";
  height: 2px;
  width: 50%;
  background: linear-gradient(45deg, transparent, var(--main));
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.title::after {
  content: "";
  height: 2px;
  width: 50%;
  background: linear-gradient(45deg, var(--main), transparent);
  position: absolute;
  right: 100%;
  top: 50%;
}
